{% extends "base.html" %}
{% block content %}

    <head>
        <title>Panel sterowania</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

        <script src="{{ url_for('static', filename='scripts/nipplejs.min.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/socket.io.js') }}" ></script>
    </head>

    <div id="joystick-container">
        <div id="joystick"></div>
    </div>

    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>

{% endblock %}
