body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
/*align-items: center;*/

.sidebar {
    width: 260px;
    background-color: #f2f2f2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

#sidebar-left {
    left: 0;
    border-radius: 10px;
}

#sidebar-right {
    right: 0;
}

.content {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    flex: 1;
    height: 100%;
    overflow: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 13px;
    text-align: left;
    padding-left: 40px;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
    width: 100%;
}

.sidebar-text {
    width: 20px;
    height: 20px;
    margin-right: 11px;
    vertical-align: middle;
}

li:hover {
    color: #666;
    background-color: sandybrown;
    border-radius: 7px;
    cursor: pointer;
}

.sidebar-header, .sidebar-footer {
    padding: 10px;
    background-color: #ccc;
    text-align: center;
    border-radius: 10px;
}

.icons {
    width: 20px;
    height: 20px;
    margin-right: 11px;
    margin-right: 11px;
    vertical-align: middle;
}
.off {
    background-color: #797474;
    color:#f2f2f2;
    border-radius: 300px;
    padding: 20px;
    border: 0;
    font-size: 20px;
    padding-left: 23px;
    padding-right: 23px;
}
.off:hover {
    background-color: sandybrown;
    color:beige;
    cursor: pointer;
}

.off-image {
    height: 30px;
    width: 30px;
}

#connection-icon, #mobile-connection-icon {
    width: 14px;
    height: 14px;
    margin-left: 4px;
}

#map {
    width: 800px;
    height: 400px;
}

.message-list {
    max-height: 100%; /* maksymalna wysokość */
    overflow-y: auto; /* przewijanie pionowe */
    margin-bottom: 10px; /* margines na dole listy */
    padding: 0;
}

.message-list-item {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    margin-left: 14px;
}

.tablink {
    font-family: 'Poppins', sans-serif;
    margin-top: 14px;
    background-color:antiquewhite;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
    border-width: 1px;
    border-color: azure;
    border-style: solid;
    cursor: pointer;
}

.tablink:hover {
    background-color:coral;
}

.tablink:active, .tablink.active {
    background-color:chocolate;
}

.gripper-button {
    font-family: 'Poppins', sans-serif;
    margin-top: 14px;
    background-color:antiquewhite;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
    border-width: 1px;
    border-color: azure;
    border-style: solid;
    cursor: pointer;
}
.gripper-button:hover {
    background-color: lightgray;
}
.gripper-button.clicked {
    background-color: sandybrown;
}

.arrow-icons {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

#homeManipButton {
    font-family: 'Poppins', sans-serif;
    margin-top: 14px;
    background-color:sandybrown;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
    border-width: 1px;
    border-color: azure;
    border-style: solid;
    cursor: pointer;
    left: 300px;
    bottom: 40px;
    position: fixed;
}
#homeManipButton:hover {
    background-color: chocolate;
}
#homeManipButton.clicked {
    background-color: rgb(146, 74, 22);
}

.crush-button {
    font-family: 'Poppins', sans-serif;
    margin-top: 14px;
    background-color:rgb(107, 94, 196);
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
    border-width: 1px;
    border-color: azure;
    border-style: solid;
    cursor: pointer;
}
.crush-button:hover {
    background-color: rgb(160, 147, 240);
}
.crush-button.clicked {
    background-color: sandybrown;
}

.crush-icons {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}




