# biblioteki pythona
venv/
__pycache__/

# usuwanie pycharma z githuba
.idea/

#wszytskie śmieci pythona
*.pyc
*.pyo
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

#smieci z node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
