{% extends "base.html" %}
{% block content %}

    <head>
        <title>Panel sterowania</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css" />
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    </head>


    <h1>czuniki</h1>

    <script>
        //komunikacja z raspberry:

        const url = 'ws://192.168.8.125:8765'; // ADRES RASPBERRY
        const ws = new WebSocket(url);

        ws.addEventListener('open', () => {
            console.log('Połączono z Raspberry');
        });

        ws.addEventListener('message', (event) => {
            console.log('Odpowiedź od Raspberry:', event.data);
        });

        ws.addEventListener('close', () => {
            console.log('Rozłączono z Raspberry');
        });

        function sendToRaspberry(data) {
            if (ws.readyState === WebSocket.OPEN) {
                ws.send(data.join(','));
                console.log('Wysłano dane:', data);
            } else {
                console.log('Nie można wysłać danych. Połączenie zamknięte.');
            }
        }
        // Przykładowe dane do wysłania

        const dataToSend = [6, 7, 8, 9, 10];
        setInterval(() => {
            sendToRaspberry(dataToSend);
        }, 1000);

    </script>


{% endblock %}
