{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel sterowania</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" type="text/css" href="../static/style.css" />
  <style>
    #map {
      width: 800px;
      height: 400px;
    }
  </style>
</head>
<body>
  <h1>Lokalizacja</h1><br>
  <div id="map"></div>

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script>
    // Inicjalizacja mapy
    var map = L.map('map').setView([51.505, -0.09], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
    }).addTo(map);

    // Inicjalizacja pinezki i śladu
    var marker = L.marker([51.505, -0.09]).addTo(map);
    var polyline = L.polyline([], { color: 'blue' }).addTo(map);

    // Inicjalizacja zmiennych pozycji
    var currentLat = 51.505;
    var currentLng = -0.09;

    // Funkcja do aktualizacji pozycji pinezki i śladu
    function updateMarkerAndPolyline(lat, lng) {
      var latlng = L.latLng(lat, lng);
      marker.setLatLng(latlng);
      polyline.addLatLng(latlng);
    }

    // Symulacja poruszania się pinezki
    function moveMarker() {
      currentLat += 0.005; // Przykładowa wartość zmiany dla szerokości geograficznej
      currentLng -= 0.005; // Przykładowa wartość zmiany dla długości geograficznej

      updateMarkerAndPolyline(currentLat, currentLng);

      setTimeout(moveMarker, 1000); // Czas w milisekundach między punktami
    }

    // Rozpoczęcie symulacji
    moveMarker();
  </script>
</body>
</html>
{% endblock %}
