{% extends "base.html" %}
{% block content %}

    <head>
        <title>Panel sterowania</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css" />
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    </head>


    <h1>czuniki</h1>

    <script>
        //przykladowe odbieranie danych od raspberry przez websockets:

        const url = 'ws://192.168.8.125:8765'; // ADRES RASPBERRY
        const ws = new WebSocket(url);
    
        ws.addEventListener('open', () => {
            console.log('polaczono z raspberry');
        });
    
        ws.addEventListener('message', (event) => {
            const dataArr = event.data.split(',').map(Number);
            console.log('Odebrano dane:', dataArr);
        });
    
        ws.addEventListener('close', () => {
            console.log('odlaczono od raspberry');
        });
    </script>


{% endblock %}
