{% extends "base.html" %}
{% block content %}
  <head>
    <title>Panel sterowania</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
  </head>
  <div id="content">
    
    <img id="image" src="" alt="Obraz z serwera">
    <script>
        //odczytywanie obrazu z serwera przez websocket żeby nie trzeba było odświeżać strony przy każdej zmianie obrazu
        //TU MA BYC ODBIERANIE DANYCH Z KAMER OD WEBRCT
        function loadDoc() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
              document.getElementById("image").innerHTML = this.responseText;
              }
            };
            xhttp.open("GET", "http://192.168.8.125/photos/obraz.jpg", true);
            xhttp.send();
          }

        loadDoc()

    </script>

    <h1>STRONA GŁÓWNA</h1>
  </div>
{% endblock %}

