{% extends "base.html" %}
{% block content %}
    <head>
        <title>Panel sterowania</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css" />
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    </head>

    <h1>Lokalizacja</h1>

    <div id="map" style="height: 400px;"></div>

    <script>
        //przykladowy kod do stworzenia mapy i zaznaczania na niej strasy łazika uzywajac flaska
        //trzeba go przerobic tak aby dane z gps (z rapsberry) odbieral sam js bo teraz komunikujemy sie przez websocket
        var map = L.map('map').setView([51.5074, -0.1278], 13);
        var markersLayer = L.layerGroup().addTo(map);
        var lineLayer = L.layerGroup().addTo(map);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        var historyPoints = [];

        function updateMarker() {
            fetch('/get_position')
            .then(response => response.json())
            .then(data => {
                var latlng = L.latLng(data.lat, data.lng);
                historyPoints.push(latlng);

                if (historyPoints.length > 1) {
                    L.polyline(historyPoints, { color: 'blue' }).addTo(lineLayer);
                }

                markersLayer.clearLayers();
                L.marker(latlng).addTo(markersLayer)
                    .bindPopup('position: ' + data.lat + ', ' + data.lng)
                    .openPopup();

                map.panTo(latlng);
            });
        }

        setInterval(updateMarker, 1000);
    </script>

    
{% endblock %}