{% extends "base.html" %}
{% block content %}

    <head>
        <title>Panel sterowania</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css" />
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    </head>

    <div id="content">
        <h1>Science</h1>
    </div>

{% endblock %}

