body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    width: 260px;
    background-color: #f2f2f2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

#sidebar-left {
    left: 0;
}

#sidebar-right {
    right: 0;
}

.content {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    flex: 1;
    height: 100%;
    overflow: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 13px;
    text-align: left;
    padding-left: 40px;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
    width: 100%;
}

.sidebar-text {
    width: 20px;
    height: 20px;
    margin-right: 11px;
    vertical-align: middle;
}

li:hover {
    color: #666;
    background-color: sandybrown;
    border-radius: 7px;
    cursor: pointer;
}

.sidebar-header, .sidebar-footer {
    padding: 10px;
    background-color: #ccc;
    text-align: center;
}

.icons {
    width: 20px;
    height: 20px;
    margin-right: 11px;
    margin-right: 11px;
    vertical-align: middle;
}
.off {
    background-color: #797474;
    color:#f2f2f2;
    border-radius: 300px;
    padding: 20px;
    border: 0;
    font-size: 20px;
    padding-left: 23px;
    padding-right: 23px;
}
.off:hover {
    background-color: sandybrown;
    color:beige;
    cursor: pointer;
}

.off-image {
    height: 30px;
    width: 30px;
}

.connection-icon {
    width: 14px;
    height: 14px;
    margin-left: 4px;
}